.LoadingIndicator {
    /*background-color: var(--color-white);*/
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--spacing) * 1);
}
